<h1>Welcome to the Pokedex!</h1>

<%= link_to "Show all trainers", trainers_path %>

<% @pokemons.each do |pokemon| %>
  <p><%= pokemon.name %> - <%= pokemon.element_type %></p>
  <%= cl_image_tag pokemon.photo.key %>
  <%= link_to "Show", pokemon_path(pokemon) %>
<% end %>
