<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Pokemon" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# fonts %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Raleway:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Raleway:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Varela&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
